INSTABRO/INSTABRO/App_WebReferences/SRInstaBro/WSInstaBro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IMGLast50">
        <s:complexType />
      </s:element>
      <s:element name="IMGLast50Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IMGLast50Result">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IMGLast50SoapIn">
    <wsdl:part name="parameters" element="tns:IMGLast50" />
  </wsdl:message>
  <wsdl:message name="IMGLast50SoapOut">
    <wsdl:part name="parameters" element="tns:IMGLast50Response" />
  </wsdl:message>
  <wsdl:portType name="WSInstaBroSoap">
    <wsdl:operation name="IMGLast50">
      <wsdl:input message="tns:IMGLast50SoapIn" />
      <wsdl:output message="tns:IMGLast50SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInstaBroSoap" type="tns:WSInstaBroSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IMGLast50">
      <soap:operation soapAction="http://tempuri.org/IMGLast50" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSInstaBroSoap12" type="tns:WSInstaBroSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IMGLast50">
      <soap12:operation soapAction="http://tempuri.org/IMGLast50" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInstaBro">
    <wsdl:port name="WSInstaBroSoap" binding="tns:WSInstaBroSoap">
      <soap:address location="http://localhost:65186/WSInstaBro.asmx" />
    </wsdl:port>
    <wsdl:port name="WSInstaBroSoap12" binding="tns:WSInstaBroSoap12">
      <soap12:address location="http://localhost:65186/WSInstaBro.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>